{% extends 'todo/base.html' %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<style>
    body {
      background-color: lightblue;
      text-align: center;
    }
    
    h1 {
      color: white;
      text-align: center;
    }
    
    p {
      font-family: verdana;
      font-size: 20px;
    }
    </style>
<h1>Login</h1>
<h2>{{ error }}</h2>
<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}
    <button type="submit">Login</button>
</form>

{% endblock %}
